@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
  body{
    font-family: 'Ubuntu', sans-serif;
  }
  footer {
    padding: 4px;
    background-color: rgb(50,50,50);
    display: flex;
    justify-content: center;
  }

  footer a {
    color: white;
    text-decoration: none;
    padding: 0px 14px;
  }

  footer a:hover {
    color: white;
    text-decoration: underline;
  }
  

  @media screen and (max-width: 710px) {
  footer {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

}
@media screen and (max-width: 340px) {
    form h1{
     font-size: 2rem;
    }
 }
 